
	.st0{fill:none;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
	.st1{opacity:0.57;fill:#D0D651;enable-background:new    ;}
	.st2{opacity:0.57;fill:#67D6CB;enable-background:new    ;}
	.st3{opacity:0.57;fill:#3BA1E0;enable-background:new    ;}
	.st4{opacity:0.57;fill:#9EB9D8;enable-background:new    ;}
	.st5{opacity:0.57;fill:#495CE8;enable-background:new    ;}
	.st6{opacity:0.57;fill:#CBCCC4;enable-background:new    ;}
	.st7{opacity:0.57;fill:#23E3E8;enable-background:new    ;}
	.st8{opacity:0.57;fill:#F2D249;enable-background:new    ;}
	.st9{opacity:0.57;fill:#C3BDC9;enable-background:new    ;}
	.st10{opacity:0.57;fill:#8FF2E9;enable-background:new    ;}
	.st11{opacity:0.57;fill:#0D08F4;enable-background:new    ;}
	.st12{opacity:0.57;fill:#EFD565;enable-background:new    ;}
  

html, body {
	margin: auto;
	margin-top: 30px;
	background-color: white; 
} 

ul {
	list-style-type: none;
	margin-top: -60px;
	padding-left: 0px;
  /* overflow: hidden; */
	background-color: lightblue;
	font-size: 1em; 
	font-family: 'Barlow Semi Condensed', sans-serif;
  }
  
li {
		float: left;
		padding-top: 15px;
  }
  
 li a {
    display: inline;
    color: black;
    text-align: center;
    padding: 18px 17px;
		text-decoration: none; 
  }
  
  li a:hover {
	width: 130px; 
	color: lightblue;
  } 

#changingword {
	color: lightblue; 
	font-size: 1em; 
	
}
 
h1 {
	/* margin-left: 110px; */
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 30pt; 
	color: black; 
	/* position: absolute; */
}

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 10% auto 10%;
	/* height: 100vh; */
	
}

nav {
	grid-column: 1 / -1;
	grid-row: 1/-1; 
	z-index: 2; 
	display:inline;
}

.name {
	grid-column: 1 / -1;
	grid-row: 2/-1;
	z-index:2;
	padding-left: 100px;
	padding-top: 160px;

}
#background {
	grid-column: 1 / -1;
	grid-row: 1/-1;
	z-index:1;
 
}

footer {
	grid-column: 1 / -1;
	grid-row: 3/-1;
	background-color:lightgray;
	margin-top: 0px;

}

/* Style all font awesome icons */
.fa {
	padding: 10px;
	font-size: 70px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	margin-top: 50px;
	
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
	opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  .fa-facebook {
	background: #3B5998;
	color: white;
  }
  
  .fa-instagram{
	background: purple;
	color: white;
  }

  .fa-twitter{
	background: lightskyblue;
	color: white;
  }

  .fa-github{
	background: black;
	color: white;
  }

  .fa-linkedin{
	background: blue;
	color: white;
  }










