html, body {
	margin: auto;
	margin-top: 30px;

} 

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 10% auto 10%;
	height: 70vh;
	
}

nav {
	grid-column: 1 / -1;
	grid-row: 1/-1; 
	z-index: 1; 
    display:inline;
    
}

.main {
	grid-column: 2 / -1;
	grid-row: 2/-1;
	z-index:2;
	padding-left: 400px;
	margin-top: -10px; 
}
img {
	grid-column: 2 / -1;
	grid-row: 2/-1;
	z-index:1;
	margin-left: -25px; 
	margin-top: -10px; 
	position: absolute; 
	
}
  
img:hover {
	filter: inherit;
	z-index: 3;
	position: absolute;
	filter: grayscale(100);
	transition: filter .5s ease-in-out;
}

h1 {
	color: maroon; 
	font-size: 3em; 
	font-family: 'Sorts Mill Goudy', serif;
}

p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: .9em; 
}


/* .music{
	height: 60vh; 
	margin-left: 400px;
	margin-top: -60px;
} */

