img {
    position: relative; 
    width: 15%;
    height: 15%; 
}

.wrapper {
    background-color: transparent; 
    margin: 0 auto;
}

.header {
    grid-area: h;
    text-align: right; 
    padding-bottom: 400px;
}

p {
    text-align: left; 
}

.footer {
    grid-area: f;
    font-family: 'Archivo Narrow', sans-serif; 
    margin-top: -300px;
}

.main {
    grid-area: m;
    font-family: 'Archivo Narrow', sans-serif;  
    text-align: left;
}

.sidebar {
    grid-area: s;
    font-family: 'Archivo Narrow', sans-serif; 
    text-align: left;
  
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 15% auto auto 7%;
    grid-template-areas: 
      "h"
      "m"
      "s"
      "f";
}

@media (min-width: 750px) {
   

    .wrapper {
        grid-template-columns: repeat(9, 1fr);
        grid-auto-rows: 15% auto 7%;
        grid-template-areas: 
          "h h h h h h h h h"
          "s s s s s m m m m"
          "s s s s s f f f f";
    }
}
